@media screen {
  .onboardingContainer {
    gap: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
  }

  .onboardingTop {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .onboardingTop h4 {
    font-weight: 300;
    font-size: 1rem;
    text-align: start;
    color: var(--tertiary-color);
  }

  .onboardingTop h1 {
    font-size: 1.4rem;
    font-weight: 800;
    text-align: start;
  }

  .onboardingTop p {
    font-size: 1rem;
  }

  .onboardingImageContainer {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .onboardingBusiness {
    gap: 30px;
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
  }

  .btnOnboardingBusiness,
  .btnOnboardingRent,
  .btnOnboardingDelivery {
    z-index: 99;
    padding: 20px;
    cursor: pointer;
    font-size: .8rem;
    width: fit-content;
    position: relative;
    background: transparent;
    color: var(--primary-color);
    border-radius: 12px 0 12px 0;
  }

  .btnOnboardingRent {
    top: 0;
    left: 200px;
    position: absolute;
    height: fit-content;
  }

  .onboardingBusiness span {
    display: none;
  }

  .btnOnboardingBusiness {
    width: 100px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }

  .btnOnboardingBusiness:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
  }

  .btnOnboardingDelivery {
    width: 100px;
    color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
  }

  .btnOnboardingDelivery:hover {
    background-color: var(--tertiary-color);
    color: var(--background-color);
  }

  .btnOnboardingRent {
    width: 100px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
  }

  .btnOnboardingRent:hover {
    background-color:var(--secondary-color);
    color: var(--background-color);
  }

  .onboardingImage {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

  .onboardingRentImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {


  .onboardingImageContainer {
    padding: 10px;
    align-items: center;
    flex-direction: row;
  }

  .onboardingImage {
    width: 80%;
    height: 80%;
  }

  .onboardingRentImage {
    width: 100%;
    height: 100%;
  }

  .onboardingBusiness span {
    display: none;
  }

  .onboardingTop {
    align-items: center;

  }
  
  .onboardingTop h4 {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--tertiary-color);
  }

  .onboardingTop h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  .onboardingTop p {
    font-size: 1.2rem;
  }

  .btnOnboardingBusiness,
  .btnOnboardingRent,
  .btnOnboardingDelivery {
    position: absolute;
    height: fit-content;
  }

  .btnOnboardingBusiness {
    right: 65px;
    bottom: -70px;
    width: fit-content;
  }

  .btnOnboardingDelivery {
    right: 80px;
    bottom: -70px;
    width: fit-content;
  }

  .btnOnboardingRent {
    top: 80px;
    right: 10px;
    width: fit-content;
  }

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
